@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');



* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}


html, body{
    height: 100%;
    width: 100%;
}

body{
    background-image: url(img/teclado.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background-image: linear-gradient(to right, #019bb69e, transparent);
    height: 35px;
    padding: 15px;
    width: 100%;
}

.logo > img{
    cursor: pointer;
    width: 150px;
}

.logo, .sociais{
    width: 25%;
}
.menu{
    width: 50%;
}


.menu > nav > ul {
    display: inline-flex;
    list-style: none;
}

.menu > nav > ul > li > a {
    color: #ffffff;
    font-size: 1em;
    margin: 0px 30px;
    padding: 10px 10px;
    position: relative;
    text-decoration: none;
}

.menu > nav > ul > li > a::after {
    background-image: linear-gradient(45deg, #ffc800, #88872f );
    content: " ";
    height: 4px;
    left: 10px;
    position: absolute;
    top: 30px;
    transition: 0.7s;
    width: 0px;
}

.menu > nav > ul > li > a:hover::after{
    width: 75px;
}

.sociais > button{
    background-image: linear-gradient(45deg, #ffc800, #88872f );
    border-radius: 6px;
    cursor: pointer;
    height: 40px;
    margin: 10px;
    text-align: center;
    width: 40px;
}

.sociais > button > i{
    font-size: 1.9rem;
}

.ins{
    color: #2d07a8;
}

.you {
    color: #b00000;
}

.wap {
    color: #008000;
}

/*estiling menu mobile*/

@media screen and (max-width: 599px) {
    .menu, .sociais {
        display: none;
    }

    .logo {
        width: 100%;
    }

    button {
        background: transparent;
        cursor: pointer;
        height: 41px;
        margin-right: 30px;
        width: 41px;
    }


    .linha {
        background-color: #fff;
        display: block;
        height: 2px;
        margin: 5px auto;
        transform-origin: center;
        transition: 0.7s;
        width: 30px;    
    }

    button.ativo{
        background-color: #b0000051;
        border-radius: 50%;
    }
    button.ativo .linha:nth-child(1){
        background-color: #b00000;
        box-shadow: 0px 0px 20px 1px red;
        transform: translateY(7px) rotate(405deg);
    }

    button.ativo .linha:nth-child(2){
        background-color: #b00000;
        width: 0px;
    }

    button.ativo .linha:nth-child(3){
        background-color: #b00000;
        box-shadow: 0px 0px 20px 1px red;
        transform: translateY(-7px) rotate(-405deg);
    }

    .menu-mobile{
        backdrop-filter:       blur(10px);
        background-color:      #00000032;
        height:                0px;
        left:                  0;
        overflow:              hidden;
        position:              absolute;
        top:                   65px;
        transition:            0.7s;
        width:                 100%;
    }

    .menu-mobile.abre-fecha{
        height:                calc(100vh - 90px);
        visibility:            visible;
    }

    .menu-mobile > nav > a{
        color:               blue;
        display:             block;
        font-size:           1.5rem;
        margin:              0px 0px;
        padding:             20px 0px;
        text-decoration:     none;
        text-indent:         20px;
        transition: 0.7s;
        width:               0px;
    }

    .menu-mobile > nav > a:hover {
        background-color:   #000000a4;
        width: 100%;
    }
   
}

@media screen and (min-width: 600px) and (max-width: 799px){
    .menu-mobile{
        display: none;
    }

    button {
        height: 40px;
        padding: 0px;
        width: 40px;
    }

    #btn-menu{
        display: none;
    }

    .logo > img{
        width: 100px;
    }

    .menu > nav > a {
        font-size: 1em;
        padding-right: 10px;
    }
    
    .sociais > button{
        border-radius: 3px;
        height: 20px;
        margin: 5px;
        width: 20px;
    }

    .sociais > button > i{
        font-size: 1rem;
    }    
}

@media screen and (min-width: 800px) and (max-width: 999px){
    .menu-mobile{
        display: none;
    }

    header {
        height: auto;
    }

    #btn-menu {
        display: none;
    }

    .menu > nav > ul > li > a {
        padding: 5px;
    }
}

@media screen and (min-width: 1000px){
    .menu-mobile{
        display: none;
    }

    #btn-menu{
        display: none;
    }

    header{
        height: auto;
    }
    .menu > nav > ul > li > a {
        font-size: 1rem;
    }

}
    

